
body {
    color: white;
    background-color: #406295;
    font-family: Arial, Helvetica, sans-serif;
}

.panel {
    width: 80%;
    margin: 20px auto auto auto;
    border-radius: 4px;
}

.panel-heading {
    background-color: #2B456C;
    height: 2em;
    text-align: center;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

    .panel-heading a {
        text-decoration: none;
        color: white;
        opacity: 0.7;
        font-weight: bold;
        font-size: 18px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

        .panel-heading a.active {
            color: white;
            opacity: 1;
            font-size: 18px;
        }

.panel-body {
    background-color: #C9D4E1;
    min-height: 30em;
    max-height: 30em;
    overflow-y: scroll;
}

.col-xs-6 {
    float: left;
    width: 50%;
}

.row {
    text-align: center;
}

.buttonGrupos {
    background-color: #2B456C;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#divButton {
    float: left;
}
