body {
    font-family: "Lato", sans-serif;
    background-color: #406295;
    padding-right: 70px;
    padding-top: 20px;
}



* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #2B456C;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

input[type=submit]:hover {
  background-color: #2B456C;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



#idButtonCrearGp {
    text-align:center;
    color:#47525E;
}

.btnCrearGrupo {
    margin: 0 auto;
    width: 120px;
    height: 40px;
    background-color: #2B456C;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
}

.btnMostrarImg {
    left:50px;
    width: 150px;
    height: 40px;
    background-color: #2B456C;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
}

.imagen {
    margin: 0 auto;
    border-radius: 40%;
    display: flex;
}

#container1 {
    margin: 0 auto;
    border-radius: 10px;
    background-color: #2B456C;
    width: 940px;
    height: 810px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 1px;
    color: #ffffff;
    font-size: 15px;
}

  #container2 {

    border-radius: 10px;
    background-color: #C9D4E1;
    width:910px;
    height:730px;
    padding-left:100px;
    padding-top:20px;
  }

  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
	font-family: "Lato", sans-serif;
  }

  textarea {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
    font-family: "Lato", sans-serif;
  }

  input.invalid {
    background-color: #ffdddd;
  }

  label {
    display: inline-block;
    font-size: 25px;
    color:#47525E;
  }

  #inputImg{
    color:#47525E;
  }

  