body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2B456C;
    color: white;
}

#divMapa {
    height: 12em;
}

#divDesc {
    height: 7em;
}

#divUbicacion {
    height: 6em;
}

.divReunion {
    background-color: #406295;
    color: white;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 10px 8px #162337;
}

.txt, .titulos {
    margin-left: 150px;
    font-size: 25px;
}

.info {
    margin: 20px auto auto 20px;
}


.titulos {
    margin: 50px auto auto 50px;
}
