body {
    background-color: #406295;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

#tablaIntegrantes {
    text-align: center;
    border-collapse: collapse;
    width: 90%;
    font-size: 18px;
}


    #tablaIntegrantes th, #tablaIntegrantes td {
        padding: 12px;
    }

    #tablaIntegrantes tr, #tablaIntegrantese tr {
        border-bottom: 1px solid #ddd;
    }

        #tablaIntegrantes tr:hover {
            background-color: #f1f1f1;
        }

        #tablaIntegrantes tr.header {
            background-color: #EFF2F7;
        }


#container1 {
    margin: auto;
    border-radius: 10px;
    background-color: #2B456C;
    width: 1000px;
    height: 860px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 1px;
    font-size: 18px;
}

#container2 {
    color: black;
    border-radius: 10px;
    background-color: #C9D4E1;
    width: 900px;
    height: 770px;
    padding-left: 100px;
    padding-top: 20px;
}

.buttonGrupos {
    background-color: #2B456C;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.buttonGrupos:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#divButton {
    float: left;
}


.buttonEliminar {
    border-radius: 4px;
    background-color: #2B456C; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonEliminar:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}