/*
    Barra menu: #2B456C
    Fondo: #406295
    FondoVentana: #C9D4E1
    Barra menu: #2B456C
*/

/* navbar */
.navbar {
    background-color: #2B456C;
    border-color: #2B456C;
}
/* Title */
.navbar .navbar-brand {
    color: #ffffff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #91a9ce;
    }

/* Link */
.navbar .navbar-nav > li > a {
    color: #ffffff;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #c7c7c7;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}

body {
    background-color: #406295;
}

#divMain {
    margin: 0 auto;
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #2B456C;
}

#h2DivMain {
    color: #ffffff;
}

#divSecond {
    padding-right: 170px;
    padding-left: 170px;
    border-radius: 10px;
    background-color: #C9D4E1;
}

#h4DivSecond {
    color: #2B456C;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    background-color: #2B456C; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button2:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}